// Colours
$white: #ffffff;
$black: #2D2925;

$grey-light: #f2f2f2;
$grey-medium: #999;
$grey-dark: #333;

$brand-light: #9B9C37;
$brand-dark: #5A5C3B;

$primary: $brand-dark;
$highlight: #ADCAE8;
$secondary: #9F7792;
