
form {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

fieldset {
	margin-top: 3rem;
}
label {
	text-align: left;
}



// input[type=checkbox], input[type=radio] {
//   /* Double-sized Checkboxes */
//   -ms-transform: scale(1.5); /* IE */
//   -moz-transform: scale(1.5); /* FF */
//   -webkit-transform: scale(1.5); /* Safari and Chrome */
//   -o-transform: scale(1.5); /* Opera */
//   padding: 10px;
// }

// .radio-label, .checkbox-label {
//   Double-sized Checkboxes
//   margin-left: 2rem;
// }
