
/**
    MOBILE RESPONSIVE
    - max width 1000px
*/
@media screen and (max-width: 999px) {

    .small-only { display: initial; }
    .big-only { display: none; }

}

/** DESKTOP gt 1000px */
@media screen and (min-width: 1000px) {

    .small-only { display: none; }
    .big-only { display: initial; }

}

/*
 * Mixin for clearfix
 * @include clearfix;
*/
@mixin clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}

/*
 * Mixin for transform or transitions
 * @include transform(arg1, arg2);
 * @include transition(arg1, arg2, arg3);
*/

@mixin transform($transition, $degs) {
    -webkit-transform: $transition($degs);
       -moz-transform: $transition($degs);
         -o-transform: $transition($degs);
            transform: $transition($degs);
}

@mixin transition($e, $s, $t) {
    -webkit-transition: $e $s $t;
       -moz-transition: $e $s $t;
        -ms-transition: $e $s $t;
         -o-transition: $e $s $t;
            transition: $e $s $t;
}

/*
 * Mixin for border radius (all)
 *  @include border-radius(5px);
*/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

/*
 * Mixin for fancy HR
 *  @include styled-hr;
*/

@mixin styled-hr {
    border-top-width: 5px;
    border-right-width: 0px;
    border-color: rgba($black,0.13);
    margin-left: 0;
    margin-bottom: 1.2rem;
    max-width: 107px;
}
