/// Nectar Button comes from Salient theme
/// @group Component Block
/// @name nectar-button

a.nectar-button,
.nectar-button {
	text-transform: none;
	color: #fff;
	border-radius: 3px !important;
	&.medium {
		letter-spacing: 1px;
	}
	&.see-through {
		border-color: rgba(0,0,0,0) !important;
		color: $brand-light !important;
		span {
			text-decoration: underline;
		}
	}
	&.nectar_video_lightbox {
		padding: 8px 14px;
		font-size: 12px;
	}
}
