/// Header block, with half-width img/content blocks alternating
/// @group Component Block
/// @name content--split

.content--split {
	hr,
	.divider-border {
		@include styled-hr;
	}
	.divider-border {
		margin-left: auto;
		margin-right: auto;
	}
	h2 {
		margin-top: 2rem;
		color: $brand-light;
	}
	h4 ~ hr {
		border-top-width: 1px;
		margin-left: auto;
	}
	// Single project - start
	.vc_row-o-equal-height {
		.vc_col-sm-6 {
			@media (min-width: $desktop-min) {
				margin-left: 0 !important;
				margin-right: 0 !important;
				min-height: 400px;
				max-height: 500px;
			}
		}
		.col.span_12 {
			div.padding-5-percent {
				padding-bottom: 5% !important;
			}
			div:first-of-type {
				&.padding-5-percent {
					display: table;
					@media (min-width: $desktop-min) {
						padding-right: 2.1% !important;
					}
					.vc_column-inner {
						min-height: 50vh;
						display: table-cell;
						vertical-align: center;
					}
				}
			}
			div:not(:first-of-type) {
				&.padding-5-percent {
					display: table;
					@media (min-width: $desktop-min) {
						padding-left: 2.1% !important;
					}
					.vc_column-inner {
						min-height: 50vh;
						display: table-cell;
						vertical-align: center;
					}
				}
			}
		}
	}
	// Single project - end
}
