/// Standard Table
/// @group Element Block
/// @name table

table {
    @include t-small;
    font-weight: 300;
    width: 100%;
    border: 1px solid $grey-medium;
    tr {
        &.odd {
            background-color: $grey-light;
        }
        &.even {
            background-color: $white;
        }
        td, th {
            padding: 0.5rem;
            border-left: 1px solid $grey-medium;
            vertical-align: top;
            text-align: left;
            &:first-of-type {
                border-left: none;
            }
            & p {
                @include t-small;
                font-weight: 300;
                margin-top: 0;
                margin-bottom: 0.8rem;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            h3 {
                @include h-xsmall;
                font-weight: 700;
                margin: 0;
            }
        }
        th {
            color: $white;
            background-color: $grey-dark;
        }
        &.clickable-row {
            transition: all .3s ease;
            cursor: pointer;
            &:hover {
                background-color: $secondary;
            }
        }
    }
}
