/// Static Testimonial Row
/// @group Component Block
/// @name testimonial-block

.testimonial-block {
	p strong {
		font-size: 1.875rem;
		line-height: 2.3125rem;
		font-weight: 500;
	}
	p:last-of-type {
		text-transform: uppercase;
	}
}
